body{

   background-size: cover;
    background-image: url("assets/images/Liv-Old-Trafford-630x473.jpg");
text-align: center;
font: italic;

background-color: cadetblue;




}

label{


background-image: url("assets/images/Liv-Old-Trafford-630x473.jpg");

    font: italic;
}







